*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --clr1: rgb(120, 29, 176);
  --clr2: rgb(128, 0, 128, 0.4); 
  --clr3: hotpink;
  --clr4: violet;
}

body {
  height: 100vh;
  display: grid;
  place-content: center;
  background: radial-gradient(circle at 50% 0%, rgb(88, 54, 109) 16.4%, rgb(45, 46, 72) 68.2%, rgb(41, 32, 65) 99.1%);
  font-family: "Lexend Deca", sans-serif;
}

.main-container {
  background-color: aliceblue;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 12px 2px var(--clr4);
}

.poster-container {
  max-width: 460px;
  height: auto;
  position: relative;
}

.poster-container::after {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(to top, rgba(105, 17, 102, 0.6) 0%, rgba(158, 48, 164, 0.2) 40%, transparent 100%);
}

.poster-container img {
  height: 100%;
  width: 100%;
  display: block;
  object-fit: cover;
}

.poster-text {
  color: whitesmoke;
  position: absolute;
  bottom: 1rem;
  left: 1.2rem;
  z-index: 10;
}

.poster-text h3 {
  font-weight: 500;
  line-height: 1.5;
}

.poster-text h4 {
  font-weight: 300;
  font-size: 0.9rem;
}

.poster-text i {
  margin-right: 6px;
}

.seats-container {
  padding: 1.2rem 1.4rem;
}

.seat-colors {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.seat-colors li {
  list-style-type: none;
  display: flex;
  align-items: center; 
}

.seat-colors svg{
  height: 20px;
  margin-right: 6px;
  cursor: default; 
}

.seat-colors span {
  font-size: 0.9rem;
}

.available,
.available-color {
  fill: var(--clr1);
  transition: all 150ms ease-out;
  cursor: pointer;
}

.available:hover {
  fill: var(--clr3);
}

.booked {
  fill: var(--clr2);
  cursor: not-allowed;
}

.selected {
  fill: var(--clr3);
  cursor: pointer;
}

.seats {
  margin-top: 1.3rem;
  position: relative;
}

.seats svg {
  height: 2rem;
  width: 2rem;
  margin-inline: 2px;
}

.seats div {
  display: flex;
  justify-content: center;
}

.rows {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between!important;
  text-transform: uppercase;
  color: var(--clr2);
  height: 100%;

  position: absolute;
  left: -0.4rem;
  top: 0;
}

.rows span {
  padding: 0.25rem 0;
}

.row-g,
.row-f,
.row-e,
.row-d,
.row-c,
.row-b,
.row-a {
  display: flex;
  gap: 1.5rem;
  margin: 0.5rem 0;
}

.screen-container {
  position: relative;
  margin: 1rem 0 0.5rem;
}

.screen-text {
  position: absolute;
  bottom: 1.2rem;
  left: 50%;
  transform: translateX(-50%);
  color: var(--clr2);
  font-size: 0.85rem;
}

.screen {
  display: block; 
  border-bottom: 3px solid var(--clr1);
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  height: 2.5rem;
  width: 90%;
  margin-inline: auto;
}

.screen-blur {
  display: block; 
  border-bottom: 5px solid var(--clr3);
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  height: 2.5rem;
  width: 89%;
  left: 50%;
  transform: translateX(-50%);

  position: absolute;
  bottom: 0.2rem;
  z-index: 10;
  filter: blur(3.5px);
}

.purchase-data,
.purchase-data__right-section {
  display: flex;
}

.purchase-data {
  background-color: var(--clr3);
  color: aliceblue;
  line-height: 1.6;
  font-size: 1.2rem;
  font-weight: 300;
  transform: scale(1, 1.05) ;  
}

.purchase-data li {
  list-style: none;
}

.purchase-data__left-section {
  padding: 0.7rem 1.1rem;
  background-color: var(--clr2);
}

.purchase-data__left-section li:last-child,
.total {
  font-weight: 500;
}

.purchase-data__right-section {
  padding: 0.7rem 1.1rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.purchase-data__right-section div:first-child li {
  text-shadow: 0 0 1px var(--clr1);
}

.next-button {
  background-color: aliceblue;
  color: var(--clr1);
  text-shadow: 0 0 1px var(--clr2);
  padding: 1rem 1.5rem;
  border-radius: 14px;
  box-shadow: 0 0 6px 1px var(--clr2);
  transition: all 150ms ease-out;
  cursor: pointer;
}

.next-button:hover {
  box-shadow: 0 0 8px 5px var(--clr2);
}

.next-button i {
  margin-left: 6px;
}